[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib3 = "<2"
certifi = ">=2024.07.04"

[dev-packages]
isort = "*"
pylint = "*"
pytest = ">=7.3.0"
pytest-cov = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3"
