[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
six = "*"

[dev-packages]
isort = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
