interactions:
- request:
    body: '{"items": [
      {"item_name": "Stanley_Steamer", "url": "http://stanley.steamer.me"},
      {"item_name": "Everest", "group_ids": ["Mountains"]}
    ],
    "autocomplete_section": "Products"}'
    headers:
      Authorization: [Basic bXktYXBpLXRva2VuOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://ac.cnstrc.com/v1/batch_items?key=my_api_key
  response:
    body: {string: ''}
    headers:
      content-type: [text/html; charset=utf-8]
    status: {code: 204, message: NO CONTENT}
- request:
    body: '{"items": [
      {"item_name": "Stanley_Steamer", "url": "http://stanley.steam.er"},
      {"item_name": "Everest", "group_ids": ["Mountains", "High Mountains"]}
    ],
    "autocomplete_section": "Products"}'
    headers:
      Authorization: [Basic bXlfYXBpX3Rva2VuOg==]
      Content-Type: [application/json]
    method: PATCH
    uri: https://ac.cnstrc.com/v1/batch_items?key=my_api_key
  response:
    body: {string: ''}
    headers:
      content-type: [text/html; charset=utf-8]
    status: {code: 204, message: NO CONTENT}
- request:
    body: '{"items": [
      {"item_name": "Stanley_Steamer"},
      {"item_name": "Everest"}
    ],
    "autocomplete_section": "Products"}'
    headers:
      Authorization: [Basic bXktYXBpLXRva2VuOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://ac.cnstrc.com/v1/batch_items?key=my_api_key
  response:
    body: {string: ''}
    headers:
      content-type: [text/html; charset=utf-8]
    status: {code: 204, message: NO CONTENT}
version: 1
