interactions:
- request:
    body: '{"refined_queries": [
    {"query": "<query 1>", "blacklist_rules": [], "boost_rules": []},
    {"query": "<query 2>", "whitelist_rule": {"rule": {"filter": {"A": ["B"]}}, "automatically_generated": true}, "blacklist_rules": [], "boost_rules": []}
    ]}'
    headers:
      Authorization: [Basic bXktYXBpLXRva2VuOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://ac.cnstrc.com/v1/refined_queries_autogenerated?autocomplete_section=Products&key=my_api_key
  response:
    body: {string: ''}
    headers:
      content-type: [text/html; charset=utf-8]
    status: {code: 200, message: SUCCESS}
version: 1
